
img[src$='#center']{
    width:100%;
    display: block;
    margin: 0.7rem auto; 
} 

img[src$='#centers']{
    height :14rem;
    display: block;
    margin: 0.7rem auto; 
} 

body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color:black;
  }

.hero{
    margin-left: 7%;
}

body{
    background-image: url(https://i.imgur.com/pkiX69L.jpg);

	background-repeat :no-repeat;
	background-attachment :fixed;
    background-position :-400px;
    background-size :100%;
    backdrop-filter:brightness(100%) ;
    color:rgb(195, 198, 209);
}

h1, h2, h3, h4, h5, h6{
    color:rgba(68, 134, 255, 0.801);
}
 
a{
    color:rgba(68, 134, 255, 0.801)!important;
}

a:hover {
    color:rgb(83, 161, 209)!important;
}

.navbar-light .navbar-brand{
    color:rgba(255, 255, 255, 1);
}



.navbar{
    background: #22222200!important;
}

.container{max-width: 1600px;}

.bg-dark {
    background-color: #00000000!important;
}

.badge{
    background-color:black;
}
.badge:hover{
    background-color:rgb(36, 35, 35)!important;
}

.border {
    border: 1px solid #2b3236!important;
}

.card{
    background-color:rgba(0, 0, 0, 0.664);
    
}
.card-text{color:rgb(195, 198, 209);}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

pre{
    background: #00305060 !important;
}